<div class="author">
  <h1 class="author__heading">Hi i am Hardik</h1>
  <p class="author__body">Software Engineer</p>
</div>

<img
  style="border-radius: 20px"
  src="/img/gojo.webp"
  alt="person looking out through window"
  class="hero-img"
  width="500"
  height="500"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <uL class="article-ul">
    <% data.forEach(post => { %>
    <li>
      <a href="/post/<%= post._id %>"
        ><span><%= post.title %></span
        ><span class="article-list__date"
          ><%= post.createdAt.toDateString() %></span
        ></a
      >
    </li>
    <% }) %>
  </uL>

  <% if(nextPage !== null) { %>
  <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% }%>
</section>
