<div class="author">
  <h1 class="author__heading">Hi i am Hardik</h1>
  <p class="author__body">Software Engineer</p>
</div>

<img
  src="https://i.pinimg.com/736x/fa/d5/e7/fad5e79954583ad50ccb3f16ee64f66d.jpg"
  alt="person looking out through window"
  class="hero-img"
  width="500"
  height="500"
/>

<section class="articles">
  <h2 class="articles__heading">Latest Posts</h2>
  <uL class="article-ul">
    <li>
      <a href="#"
        ><span>Post Title</span><span class="article-list-data">Date</span></a
      >
    </li>
  </uL>
  <a href="#" class="paganation">&lt; View Older Posts</a>
</section>
